<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4"><h1 class="text-center">Liste des T창ches</h1>
    <%= render @to_do %>
  </div>
  <div class="col-md-4"><h1 class="text-center">T창ches En Execution</h1>
    <%= render @to_doing %>
  </div>
  <div class="col-md-4"><h1 class="text-center">T창ches Accomplies</h1>
    <%= render @to_done %>
  </div>
</div>

<br>
<%= link_to 'Nouvelle T창che', new_task_path %>
